{% extends 'guest_base.html'%}
{%block heading%}Analysis{%endblock%}
{%block content%}
<div class="bd-example">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="account-balance-tab" data-toggle="tab" href="#account-balance-link"
               role="tab"
               aria-controls="account-balance-link"
               aria-selected="true">Account Balance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="trades-tab" data-toggle="tab" href="#trades-link" role="tab"
               aria-controls="trades-link"
               aria-selected="false">Trades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="buy-sell-tab" data-toggle="tab" href="#buy-sell-link" role="tab"
               aria-controls="buy-sell-link"
               aria-selected="false">Buy vs Sell</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="win-loss-count-tab" data-toggle="tab" href="#win-loss-count-link" role="tab"
               aria-controls="win-loss-count-link"
               aria-selected="false">Won vs Loss counts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="win-loss-amount-tab" data-toggle="tab" href="#win-loss-amount-link" role="tab"
               aria-controls="win-loss-amount-link"
               aria-selected="false">Won vs Loss amount</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="binary-levels-counts-tab" data-toggle="tab" href="#binary-levels-counts-link"
               role="tab" aria-controls="binary-levels-counts-link"
               aria-selected="false">Binary vs Levels Counts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="levels-selection-tab" data-toggle="tab" href="#levels-selection-link"
               role="tab" aria-controls="levels-selection-link"
               aria-selected="false">Levels selection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="level-investment-tab" data-toggle="tab" href="#level-investment-link"
               role="tab" aria-controls="#level-investment-link"
               aria-selected="false">Levels total investments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="level-won-loss-counts-tab" data-toggle="tab" href="#level-won-loss-counts-link"
               role="tab" aria-controls="level-won-loss-counts-link"
               aria-selected="false">Levels Won vs Loss counts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="level-won-loss-amount-tab" data-toggle="tab" href="#level-won-loss-amount-link"
               role="tab" aria-controls="#level-won-loss-amount-link"
               aria-selected="false">Levels Won vs Loss amount</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="account-balance-link" role="tabpanel"
             aria-labelledby="account-balance-tab">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="clearfix">&nbsp;</div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" name="balance_start_date"
                                           data-stayetype="balance">
                                </div>
                                <div class="form-group  col-md-6">
                                    <input type="date" class="form-control" name="balance_end_date"
                                           data-stayetype="balance">
                                </div>
                            </div>
                            {% csrf_token%}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="account_balance"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="trades-link" role="tabpanel" aria-labelledby="trades-tab">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="clearfix">&nbsp;</div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" name="num_trades_start_date"
                                           data-stayetype="num_trades">
                                </div>
                                <div class="form-group  col-md-6">
                                    <input type="date" class="form-control" name="num_trades_end_date"
                                           data-stayetype="num_trades">
                                </div>
                            </div>
                            {% csrf_token%}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="trade_counts"></div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="buy-sell-link" role="tabpanel" aria-labelledby="buy-sell-tab">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="clearfix">&nbsp;</div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" name="buy_sell_start_date"
                                           data-stayetype="buy_sell">
                                </div>
                                <div class="form-group  col-md-6">
                                    <input type="date" class="form-control" name="buy_sell_end_date"
                                           data-stayetype="buy_sell">
                                </div>
                            </div>
                            {% csrf_token%}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="buy_sell_cht"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="win-loss-count-link" role="tabpanel" aria-labelledby="win-loss-count-tab">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="clearfix">&nbsp;</div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" name="win_loss_count_start_date"
                                           data-stayetype="win_loss_count">
                                </div>
                                <div class="form-group  col-md-6">
                                    <input type="date" class="form-control" name="win_loss_count_end_date"
                                           data-stayetype="win_loss_count">
                                </div>
                            </div>
                            {% csrf_token%}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="win_loss_count_cht"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="win-loss-amount-link" role="tabpanel" aria-labelledby="win-loss-amount-tab">
            ...
        </div>
        <div class="tab-pane fade" id="binary-levels-counts-link" role="tabpanel"
             aria-labelledby="binary-levels-counts-tab">
            ...
        </div>
        <div class="tab-pane fade" id="levels-selection-link" role="tabpanel"
             aria-labelledby="levels-selection-tab">
            ...
        </div>
        <div class="tab-pane fade" id="level-investment-link" role="tabpanel"
             aria-labelledby="level-investment-tab">
            ...
        </div>
        <div class="tab-pane fade" id="level-won-loss-counts-link" role="tabpanel"
             aria-labelledby="level-won-loss-counts-tab">
            ...
        </div>
        <div class="tab-pane fade" id="level-won-loss-amount-link" role="tabpanel"
             aria-labelledby="level-won-loss-amount-tab">
            ...
        </div>
    </div>
</div>
{% endblock%}