<!-- Chart Modal-->
<div class="modal fade chartModel" tabindex="-1" role="dialog"
     aria-labelledby="chartModelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartModelLabel">Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div id="fx-chart"></div>
                    </div>
                    <div class="col-md-4" style="border-left: 1px solid #dee2e6;">
                        <h5 class="alert alert-dark">Order information</h5>
                        <table class="table small">
                            <thead style="display: none">
                            <th style="width: 60%"></th>
                            <th style="width: 40%"></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Transaction id</td>
                                <td id="transaction-id"></td>
                            </tr>
                            <tr>
                                <td>Contract Type</td>
                                <td id="contract_type"></td>
                            </tr>
                            <tr id="level_selected_area">
                                <td>Selected Level</td>
                                <td id="level_selected"></td>
                            </tr>
                            <tr id="traders_joined_area">
                                <td>Traders Joined</td>
                                <td id="traders_joined"></td>
                            </tr>
                            <tr>
                                <td>Purchase type</td>
                                <td id="purchase-type"></td>
                            </tr>
                            <tr>
                                <td>Start Time</td>
                                <td id="start-time"></td>
                            </tr>
                            <tr>
                                <td>End time</td>
                                <td id="end-time"></td>
                            </tr>
                            <tr>
                                <td>Start price</td>
                                <td id="start-price"></td>
                            </tr>
                            <tr>
                                <td>Close price</td>
                                <td id="close-price"></td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td id="amount"></td>
                            </tr>
                            <tr>
                                <td>Outcome</td>
                                <td id="outcome"></td>
                            </tr>

                            </tbody>
                        </table>
                        <input type="hidden" name="trade_id" id="trade_id">
                        <input type="hidden" name="user_id" id="user_id">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span id="action-message"></span>
                <div id="level_join_area">


                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="join-options" class="sr-only">Email</label>
                            <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail2"-->
                            <!--value="email@example.com">-->
                            <select class="form-control mr-1" id="join-options">
                                <!--<option>Select level</option>-->
                                <!--<option>1</option>-->
                                <!--<option>2</option>-->
                                <!--<option>3</option>-->
                                <!--<option>4</option>-->
                            </select>
                        </div>
                        <button type="button" class="btn btn-success mb-2 mr-1" id="join" name="join" value="">Join Trade
                        </button>
                        <!--<button type="button" class="btn btn-secondary mb-2" data-dismiss="modal">Close Windows</button>-->

                    </form>
                </div>
                <div id="binary_close_area">
                    <button type="button" class="btn btn-danger" id="close_binary_trade" name="close_binary_trade"
                            value="">Close Trade
                    </button>
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close Windows</button>-->
                </div>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Windows</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
