{% extends 'guest_base.html'%}
{%block heading%}Dashboard{%endblock%}
{%block content%}
<form>
    {% csrf_token%}
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Won Trades</h5>
                    <p class="card-text"><span id="all_won_count"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Loss Trades</h5>
                    <p class="card-text"><span id="all_loss_count"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Total Won</h5>
                    <p class="card-text"><span id="all_won_amount"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Total Lose</h5>
                    <p class="card-text"><span id="all_loss_amount"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Latest Outcomes</div>
                <div class="card-body text-success">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Outcome</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for index, row in latest_outcomes%}
                        <tr>
                            <td>{{row.currency}}</td>
                            <td>{{row.purchase_type}}</td>
                            <td>{{row.amount}} {{user_currency}}</td>
                            <td>{{row.outcome|capfirst}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Pending Orders</div>
                <div class="card-body text-success">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for order in pending_trades%}
                        <tr>
                            <td>{{order.currency}}</td>
                            <td>{{order.purchase_type}}</td>
                            <td>{{order.amount}} {{user_currency}}</td>
                            <td>{{order.created_date}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Total won vs loss</div>
                <div class="card-body text-success">
                    <div id="total_won_loss_cht"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Binary vs Levels</div> <!--total won and loss for binary and levels-->
                <div class="card-body text-success">
                    <div id="binary_levels_cht"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">levels Earnings</div>
                <div class="card-body text-success">
                    <div id="level_won_loss_amount_cht"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">Account balance</div>
                <div class="card-body text-success">
                    <div>
                        <div id="account_balance"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock%}