{% extends 'guest_base.html'%}
{%block heading%}Dashboard{%endblock%}
{%block content%}
<form>
    {% csrf_token%}
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Won Trades</h5>
                    <p class="card-text"><span id="all_won_count"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Loss Trades</h5>
                    <p class="card-text"><span id="all_loss_count"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Total Won</h5>
                    <p class="card-text"><span id="all_won_amount"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <h5 class="card-title">Total Lose</h5>
                    <p class="card-text"><span id="all_loss_amount"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">Latest Outcomes</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">Pending Orders</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">Total won and loss</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">Binary vs Levels</div> <!--total won and loss for binary and levels-->
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">levels Earnings</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header">Account balance</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock%}