{% extends 'guest_base.html'%}
{%block heading%}Trading dashboard{%endblock%}
{% load finance %}
{%block content%}
<div class="bd-example">
    <div class="row">
        <form action="" method="post">
            {% csrf_token%}
            <div class="row">
                <div class="col">
                    <select class="form-control" name="currency">
                        <option value="">Select Currency pair</option>
                        {% for c in currency_pairs%}
                        <option value="{{c.value}}">{{c.value|capfirst}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" name="purchase_type">
                        <option value="">Select purchase type</option>
                        {% for p in purchase_type%}
                        <option value="{{p}}">{{p|capfirst}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col">
                    <input class="form-control" type="date" name="closing_date" placeholder="Select closing date">
                </div>
                <div class="col">
                    <input class="form-control" type="number" min="0.1" name="min_amount" placeholder="Enter min price"
                           step="0.1">
                </div>
                <div class="col">
                    <input class="form-control" type="number" min="0.1" name="max_amount" placeholder="Enter max price"
                           step="0.1">
                </div>
            </div>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th><!--Only show matching currencies in account ex:- usd, eur-->
                <th scope="col">Level</th>
                <th scope="col">Closing</th><!--trade closing time-->
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
            <tr>
                <th scope="row">1</th>
                <td>{{result.currency}}</td>

                <td>
                    {%convert_currency result.amount result.amount_currency user_currency%}
                     {{user_currency}} ({{result.amount}} {{result.amount_currency }})
                </td>
                <td>
                    <select class="form-control" name="selected_level"> <!--TODO: show only available levels-->
                        {% for al in result.available_levels %}
                        <option value="{{al}}">{{al}}</option>
                        {%endfor%}
                    </select>
                </td>
                <td>{{result.end_time}}</td>
                <td>
                    <button type="button" class="btn btn-primary">View</button><!--TODO:view trade on the chart-->
                    <button type="button" class="btn btn-success" value="{{result.purchase_type}}">{{result.purchase_type|capfirst}}</button>
                    <!--TODO:buy or sell according to the trade-->
                </td>
            </tr>
            {%endfor%}


            </tbody>
        </table>
    </div>
</div>
{% endblock%}