{% extends 'guest_base.html'%}
{%block heading%}Statements{%endblock%}
{%block content%}

<!--{% autoescape off %}-->
    <!--{{plt_div}}-->
<!--{% endautoescape %}-->
<div class="bd-example">
    <div class="row">
        <form action="" method="post">
            {% csrf_token%}
            <div class="row  mx-0">
                <div class="col-md-2 px-1">
                    <select class="form-control" name="status">
                        <option value="">Select status</option>
                        {%for status in trading_status%}
                        <option value="{{status}}">{{status| capfirst}}</option>
                        {%endfor%}

                    </select>
                </div>
                <div class="col-md-2 px-1">
                    <select class="form-control" name="outcome">
                        <option value="">Select outcome</option>
                        {%for outcome in trading_outcome%}
                        <option value="{{outcome}}">{{outcome|capfirst}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col-md-2 px-1">
                    <input class="form-control" type="date" name="start_date" placeholder="Select start date">
                </div>
                <div class="col-md-2 px-1">
                    <input class="form-control" type="date" name="end_date"  placeholder="Select end time">
                </div>
                <div class="col-md-1 px-1">
                    <input class="form-control" type="number" min="0.1" name="min_amount" placeholder="Enter min price"
                           step="0.1">
                </div>
                <div class="col-md-1 px-1">
                    <input class="form-control" type="number" min="0.1" name="max_amount" placeholder="Enter max price"
                           step="0.1">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-info" value="Search">
                </div>
            </div>

        </form>
    </div>
    <br>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Opened date</th>
                <th scope="col">Currency</th><!--Only show matching currencies in account ex:- usd, eur-->
                <th scope="col">Amount</th>
                <th scope="col">Type</th><!--trade closing time-->
                <th scope="col">Purchase</th>
                <th scope="col">Outcome</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for index,result in results %}
                <tr>
                    <td>{{result.created_date}}</td>
                    <td>{{result.currency}}</td>
                    <td>
                       {{result.amount}} {{user_data.currency}}
                    </td>
                    <td>
                         {{result.trade_type | capfirst}}
                    </td>
                    <td>
                         {{result.purchase_type | capfirst}}
                    </td>
                    <td>
                         {{result.outcome| capfirst}}
                    </td>
                    <td>
                        <!--<button type="button" class="btn btn-success">View</button>&lt;!&ndash;TODO:view trade on the chart&ndash;&gt;-->
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-transaction="{{result.transaction_id}}"
                                data-owner="{{result.user_id}}"
                                data-target=".chartModel">View
                        </button>
                    </td>
                </tr>
                {%endfor%}


                </tbody>
        </table>
    </div>
</div>
<!--TODO: remove join from  single order model-->
{% include 'chart_model.html' %}
{% endblock%}
